# Music-Mixer
An online mixer that allows users to to DJ and mix music from their personal libraries


body{
    font-family: Verdana, sans-serif;
}
.mixbody {
    height: 750px;
    width: 1150px;
    background-color: cadetblue;
    position: relative;
    top: 20px;
    left: 60px;
    z-index: 1;
}

.track1{
    position: relative;
    text-align: center;
    top: 30px;
    left: 87%;
    width: 100px;
    height: 100%;
     display: inline-block;
}




p.in{
    width: 100px;
    margin: 10px auto 10px auto;
}

.roundSlider{
    /*border: 5px solid #ee3e65;*/
    height: 60px;
    width: 60px;
    margin: auto;
    border-radius: 50%;
    
}






.waveform{
    position: absolute;;
    background-color: black;
     width: 650px;
    height: 150px;
     top: 50%;
    left: 35%;
    margin: -125px 0 0 -125px;
}
.buttonHolder{
    position:absolute;
    bottom:0;right:0;
}
.rollerHolder{
      display: table-cell;
}
.scrollerHolder{
    margin-top: 30%;
}